# auto detect text files and perform LF normalization
* text=auto eol=lf

# exceptions using CRLF normalization
LICENSE eol=crlf
.github/SECURITY.md eol=crlf
.github/CODE_OF_CONDUCT.md eol=crlf

# exclude from generated archives
CHANGELOG.md export-ignore

# file types to exclude from language stats
# *.css linguist-vendored
# *.html linguist-vendored
# *.js linguist-vendored

# binary file types
*.webp binary
*.wasm binary
